<section class="container-fluid">
    <section class="row">

        <section class="col-4 bg-primary sidebar-height">

            <h3 class="text-center">Notepad</h3>

            <form onsubmit="app.NotepadController.createNotepad()">
                <div class=" mb-2">
                    <p class="fs-5 text-center">Create a new Notepad</p>
                </div>
                <div class="input-group">
                    <div class="text-center form-control">
                        <input type="text" name="noteName" id="note-name" minlength="3" maxlength="15">
                        <button type="submit" class="btn btn-secondary form-control" title="Create a new notepad"><i
                                class="mdi mdi-file-plus"></i></button>
                    </div>

                </div>
            </form>


            <div class="" id="notepad-list">
            </div>
        </section>
        <section class="col-8" id="active-notepad">
        </section>
    </section>
</section>




<!-- SECTION HTML for list items -->
<!-- <div class="d-flex justify-content-center m-3 bg-secondary">
    <span>${this.noteName}</span>
    <span>${this.editedTime}</span>
    <span>
        <button onclick="app.NotepadController.openNotepad('${this.id}')" class="btn btn-outline-secondary"
        title="open Notepad"><i class="mdi mdi-notebook-edit"></i></button>
    </span>
</div> -->


<!-- SECTION HTML for active Notepad -->
<!-- <div>
    <h1 class="fw-bold">${this.noteName}</h1>
    <p>${this.editedTime}</p>
    <div class="d-flex justify-content-around">
        <button onclick="app.NotepadController.saveNotepad()" class="btn btn-success"
            title="Yeah, good idea to save that!"><i class="mdi mdi-content-save">Save!</i></button>
        <button onclick="app.NotepadController.removeNotepad('${this.id}')" class="btn btn-danger"
            title="Delete your note forever & ever.."><i class="mdi mdi-skull-scan"></i></button>
    </div>
    <textarea name="activeNotepad" id="active-notepad-body" cols="30" rows="10"
        maxlength="50000">${this.noteBody}</textarea>
</div> -->